body{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#root{
  position: relative;
  left: 25%;
  top: 200px;
}

.main-content{
  display: flex;
  flex-direction: row;
}

.btn-container{
  display: flex;
  flex-direction: column;
  width: 200px;
}

.btn{
  width:150px;
  height: 20px;
  background-color: transparent;
  border: none;
  transition: 0.3s ease-in-out;
  margin: 10px;
  border-left:3px solid rgb(20, 184, 166,0) ;
}

.btn:hover{
  color: #14B8A6;
  border-left:3px solid rgb(20, 184, 166,1) ;
}

.active-btn{
  width:150px;
  height: 20px;
  background-color: transparent;
  border: none;
  transition: 0.3s ease-in-out;
  margin: 10px;
  color: #14B8A6;
  border-left:3px solid rgb(20, 184, 166,1) ;
}

.title{
  font-size: 32px;
  margin: 5px;
}

.name {
  background-color: rgb(203,213,225);
  font-size: 18px;
  width: 95px;
  height: 40px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  text-transform: uppercase;
}

.date {
  font-size: 22px;
  margin: 5px;
  color: #64748B;
}

.desc-container{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.info-container{
  width: 800px;
  font-size: 20px;
}

img {
  width: 20px;
  height: 20px;
  margin: 20px;
}