body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#root{
    background-color: #F8FAFC;
}

.top {
    position: relative;
    right: 6%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-container{
    padding-left: 300px;
    padding-right: 300px ;
    padding-top: 100px;
    position: relative;
    left: 5%;
}


.title{
    font-size: 36px;
    margin: 0px;
    text-align: center;
}
.underline {
    width: 100px;
    height: 4px;
    position: relative;
    left: 11%;
    background-color: #F59E0B;
    margin: 5px;
}

.menu-container{
    display: flex;
    flex-wrap: wrap;
}

.item{
    width:300px;
    margin: 3%;
}

img{
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.info{
    padding-left: 10px;
    margin: 10px;
}

.title-price{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu-title {
    font-size: 23px;
    margin-bottom: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    width: 320px;
}

.menu-price {
    background-color: #F59E0B;
    color: white;
    border-radius:5px;
    width: 70px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
}

button{
    width: 90px;
    margin: 15px;
    height: 30px;
    font-size: 16px;
    text-align: center;
    background-color: #F59E0B;
    color: white;
    border: none;
    border-radius: 5px;
}